server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  jpa:
    open-in-view: false
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        auto_quote_keyword: true