spring:
  jpa:
    properties:
      hibernate:

app:
  batch:
    size: 1000

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

minio:
  url: http://storage.java21.net  # MiniIO 서버의 엔드포인트 주소
  accessKey: nhnacademy  # MiniIO 사용자 Access Key
  secretKey: nhnacademy123!  # MiniIO 사용자 Secret Key
  bucketName:
    book: book-image
    review: review-image
    test: book-cover