server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  jpa:
    open-in-view: false
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        auto_quote_keyword: true

minio:
  url: http://127.0.0.1:9000  # MiniIO 서버의 엔드포인트 주소
  accessKey: your-minio-access-key  # MiniIO 사용자 Access Key
  secretKey: your-minio-secret-key  # MiniIO 사용자 Secret Key