server:
  port: 8080

  servlet:
    encoding:
      charset: UTF-8
      force: true

spring:
  datasource:
#    url: jdbc:mysql://220.67.216.14:13306/nhn_exam_8?serverTimezone=Asia/Seoul
    url: jdbc:mysql://s4.java21.net:13306/project_be12_team3?serverTimezone=Asia/Seoul
    username: project_be12_team3
    password: Vu52gc0i(mNxDJyI
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate.ddl-auto: update
    show-sql: true